@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;

body {
 
  margin: 0;
  padding: 0;
}
 
 

a { text-decoration: none; }

}

// Modules
// @import "modules/my-module.scss";
@import 'modules/content';
@import 'modules/navBar';
@import 'modules/header';
@import 'modules/item';
@import 'modules/filter';
@import 'modules/itemDetails';
@import 'modules/Categories';
@import 'modules/myAds';
@import 'modules/account';

.app-wrapper {
  width: 100%;
  height: 100%;
  
};

.wrapp-allContent {
    display: flex;
    width: 100%;
    min-width: 1000px;
    flex-direction: column;
    flex-flow: wrap;
    flex-shrink: inherit;
    height: calc(100vh - 60px);
}



 
   

 

 
 
 