@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  body {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

}

// Modules
// @import "modules/my-module.scss";
@import 'modules/content';
@import 'modules/navBar';
@import 'modules/header';
@import 'modules/item';
@import 'modules/filter';
@import 'modules/itemDetails';
@import 'modules/Categories';
@import 'modules/myAds';
@import 'modules/account';
@import 'modules/footer';

.app-wrapper {
  width: 100%;
  height: 100%;
}

.wrapp-allContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-flow: wrap;
  flex-shrink: inherit;
  min-height: calc(100vh - 110px);
}

.visible {
  display: block;
}

.unvisible {
  display: none;
}

.ant-form-item {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .categories-wrapp {
    grid-template-columns: repeat(4, 1fr);
  }

  .ant-typography {
    font-size: 13px;
  }

  .categories-item {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__img {
    display: none;
  }

  .filterUpperBlock {
    display: flex;
  }

  .wrapp-allContent {
    min-width: 0;
    width: 100%;
  }

  .navBarContainer {
    position: absolute;
    background: white;
    min-height: 100vh;
    z-index: 1;
  }

  .filter__showFilterBtn {
    float: right;
    display: block;
  }

  .content {
    width: 100%;

  }
}

@media (max-width: 480px) {
  .items-controllersBlock {
    margin-top: 10px;
  }
  .categories-wrapp {
    grid-template-columns: repeat(2, 1fr);
  }

  .itemDetails__img {
    width: 100vw;
  }

  .search-location {
    display: none;
  }

  .search-input {
    width: 100%;
    margin-right: 5px;
  }

  .itemDetails {
    flex-direction: column;
    .itemDetails-info {
        padding: 0 0 10px 0 ;
    }
  }

  .Item {
    height: 130px;
    .Item-info {
      .item__title {
        margin-bottom: 0;
        font-size: 16px;
      }
      .item__descr {
        display: none;
      }
    }
    .Item-photo {
      min-width: 150px;
      height: 100%;
    }
  }

  .header {
    padding-left: 10px;
    padding-right: 10px;
    .header-accountData {
      width: auto;
      .header-avatarWrapper {
        display: none;
      }
      .header__dropper {
        width: 60px;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 360px) {
  .Item {
    height: 150px;
  }
  .footer {
    .footer__mainTitle {
      font-size: 12px;
    }
  }
}