
.content {
    padding: 5px 10px 0 10px  !important;
    height: auto;
    width: calc(100% - 250px);

    .items-controllersBlock {
        padding-bottom: 10px;
        margin-top: 5px;
      }
   }

  