.itemDetails {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.itemDetails__img {
    min-width: 40vw !important;
}

.itemDetails-breadCramb {
    padding: 5px 0 5px 0;
}

.itemDetails-info {
h3 {padding-top: 20px;}
font-size: 14px;
padding: 5px 5px 5px 10px;
color: "#fffffa"
}

.itemDetails-carousel {
    width: auto;
    height: auto;
}

.itemDetails-carouselPhoto {
    border-radius: 5px;
}

.itemDetails-parameters {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.itemDetails-underline {
    flex: 1;
    border-bottom: 1px solid #f0f0f0;
}

.itemDetails-parameter {
    width: 20%;
}